<a href="https://colab.research.google.com/github/mallelamanojkumar90/AIML/blob/main/Week2_Day1_Introduction_to_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 2, Day 1: Introduction to Pandas - DataFrames and Data Cleaning

## Learning Objectives
- Understand Pandas DataFrame structure
- Learn basic DataFrame operations
- Master data cleaning techniques
- Practice working with real data

In [ ]:
# Import required libraries
import pandas as pd
import numpy as np

## 1. Introduction to DataFrames

### Creating DataFrames
- From dictionaries
- From lists
- From external files

In [ ]:
# Creating DataFrames from different sources

# From dictionary
data_dict = {
    'Name': ['John', 'Alice', 'Bob', 'Carol'],
    'Age': [25, 30, 35, 28],
    'City': ['New York', 'London', 'Paris', 'Tokyo']
}
df_dict = pd.DataFrame(data_dict)
print("DataFrame from dictionary:")
print(df_dict)

# From list of lists
data_list = [
    ['David', 32, 'Sydney'],
    ['Emma', 27, 'Berlin'],
    ['Frank', 31, 'Madrid']
]
df_list = pd.DataFrame(data_list, columns=['Name', 'Age', 'City'])
print("\nDataFrame from list:")
print(df_list)

## 2. Basic DataFrame Operations

In [ ]:
# Basic operations on DataFrame
df = pd.concat([df_dict, df_list])

# Viewing data
print("First 3 rows:")
print(df.head(3))

# Basic information
print("\nDataFrame Info:")
print(df.info())

# Statistical summary
print("\nStatistical Summary:")
print(df.describe())

# Accessing columns
print("\nNames:")
print(df['Name'])

# Filtering data
print("\nPeople over 30:")
print(df[df['Age'] > 30])

## 3. Data Cleaning Techniques

In [ ]:
# Create sample data with issues
dirty_data = {
    'Name': ['John', 'Alice', None, 'Bob', 'Carol'],
    'Age': [25, -30, 35, 'unknown', 28],
    'City': ['NEW YORK', 'london', 'Paris  ', ' Tokyo', None],
    'Salary': ['50000', 60000, '75000', '80000', '65000']
}
df_dirty = pd.DataFrame(dirty_data)

print("Original dirty data:")
print(df_dirty)

# Cleaning operations
def clean_data(df):
    # Create a copy
    df_clean = df.copy()

    # Handle missing values
    df_clean['Name'].fillna('Unknown', inplace=True)
    df_clean['City'].fillna('Unknown', inplace=True)

    # Clean City names
    df_clean['City'] = df_clean['City'].str.strip().str.title()

    # Convert Age to numeric, handling errors
    df_clean['Age'] = pd.to_numeric(df_clean['Age'], errors='coerce')
    df_clean['Age'] = df_clean['Age'].apply(lambda x: abs(x) if pd.notnull(x) else x)
    df_clean['Age'].fillna(df_clean['Age'].mean(), inplace=True)

    # Convert Salary to numeric
    df_clean['Salary'] = pd.to_numeric(df_clean['Salary'])

    return df_clean

df_clean = clean_data(df_dirty)
print("\nCleaned data:")
print(df_clean)

## 4. Advanced DataFrame Operations

In [ ]:
# Advanced operations

# Grouping and aggregation
print("Average salary by city:")
print(df_clean.groupby('City')['Salary'].mean())

# Adding new columns
df_clean['Salary_Category'] = pd.cut(df_clean['Salary'],
                                    bins=[0, 55000, 70000, float('inf')],
                                    labels=['Low', 'Medium', 'High'])

# Pivot tables
print("\nPivot table - Average age by City and Salary Category:")
pivot_table = pd.pivot_table(df_clean,
                            values='Age',
                            index='City',
                            columns='Salary_Category',
                            aggfunc='mean')
print(pivot_table)

## Practical Exercises

In [ ]:
# Exercise 1: Employee Data Analysis

# Create sample employee data
employee_data = {
    'Employee_ID': range(1, 11),
    'Department': ['IT', 'HR', 'IT', 'Finance', 'HR', 'IT', 'Finance', 'HR', 'IT', 'Finance'],
    'Salary': np.random.randint(40000, 100000, 10),
    'Years_Experience': np.random.randint(1, 15, 10),
    'Performance_Score': np.random.uniform(3.0, 5.0, 10).round(2)
}

df_employees = pd.DataFrame(employee_data)

# Analysis tasks
def analyze_employees(df):
    print("Department-wise average salary:")
    print(df.groupby('Department')['Salary'].mean())

    print("\nCorrelation between experience and performance:")
    print(df['Years_Experience'].corr(df['Performance_Score']))

    print("\nTop 3 performers:")
    print(df.nlargest(3, 'Performance_Score')[['Employee_ID', 'Department', 'Performance_Score']])

analyze_employees(df_employees)

In [ ]:
# Exercise 2: Data Cleaning Challenge

# Create messy dataset
messy_data = {
    'Product_ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Price': ['$100', '200', '$150.50', 'unknown', '$300'],
    'Stock': ['10 units', '20', 'out_of_stock', '15 units', None],
    'Category': ['Electronics ', ' Books', 'Electronics', ' Games ', 'Books']
}

df_messy = pd.DataFrame(messy_data)

def clean_product_data(df):
    # Your cleaning solution here
    df_clean = df.copy()

    # Clean Price
    df_clean['Price'] = df_clean['Price'].str.replace('$', '').str.replace('unknown', 'NaN')
    df_clean['Price'] = pd.to_numeric(df_clean['Price'], errors='coerce')

    # Clean Stock
    df_clean['Stock'] = df_clean['Stock'].str.extract('(\d+)', expand=False)
    df_clean['Stock'] = pd.to_numeric(df_clean['Stock'], errors='coerce')

    # Clean Category
    df_clean['Category'] = df_clean['Category'].str.strip()

    return df_clean

print("Original messy data:")
print(df_messy)
print("\nCleaned data:")
print(clean_product_data(df_messy))

## MCQ Quiz

1. Which method is used to handle missing values in Pandas?
   - a) remove()
   - b) fillna()
   - c) replace()
   - d) clean()

2. How do you select multiple columns in a DataFrame?
   - a) df[['col1', 'col2']]
   - b) df['col1', 'col2']
   - c) df.select(['col1', 'col2'])
   - d) df.columns(['col1', 'col2'])

3. What does df.describe() show?
   - a) Column names
   - b) Statistical summary
   - c) Missing values
   - d) Data types

4. Which method is used to combine two DataFrames vertically?
   - a) merge()
   - b) join()
   - c) concat()
   - d) append()

5. How do you get the number of rows and columns in a DataFrame?
   - a) df.size()
   - b) df.shape
   - c) df.length()
   - d) df.dimensions

6. Which method groups data in a DataFrame?
   - a) group()
   - b) groupby()
   - c) aggregate()
   - d) cluster()

7. How do you remove duplicates from a DataFrame?
   - a) remove_duplicates()
   - b) drop_duplicates()
   - c) clean_duplicates()
   - d) delete_duplicates()

8. What does df.head() show by default?
   - a) First 3 rows
   - b) First 5 rows
   - c) First 10 rows
   - d) First column

9. How do you rename columns in a DataFrame?
   - a) df.rename_columns()
   - b) df.rename(columns={'old': 'new'})
   - c) df.columns = ['new_names']
   - d) df.change_names()

10. Which method creates a pivot table?
    - a) pivot()
    - b) pivot_table()
    - c) crosstab()
    - d) table()

Answers: 1-b, 2-a, 3-b, 4-c, 5-b, 6-b, 7-b, 8-b, 9-b, 10-b